@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", sans-serif;
  }

  body {
    @apply bg-white text-gray-900;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-black text-white;
    }
  }
}
